# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

 const appID =576874493;
  const userID = 'sanjoydb';
  const roomID = '5690';
  const userName = 'Sanjoy ui'
  const token = '04AAAAAGiUvscADFgUkH7LIibtDSSzZwCxABXVcXGHMZx933bDBxg5Eb6Py//HNNBVNjRHkz2QgSAaQzQJgXCGiHSfJ264K63Y7QjcD2aCKFOvgGKew2xI++Zs36SN2ZjYrTvScgGk689W66OV1v2spv0ahLo3N+n8dJQu8yKVgp/oMElhmqTGVaVBZOm0zH8VeHZNQMpdiHAsApFOdEjPrl9wkM72Y8az9YhY0dbJJFVMkSSco3EMntxhGtJQcxhPdqB/PcsgNy/wAQ=='
  const server = 'wss://webliveroom576874493-api.coolzcloud.com/ws';
