<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quara Posts</h1>
   <% if(locals.posts) { %>
        <% for(post of posts){ %>
        <div class="post">
            <h3>@<%=post.username %></h3>
            <h4><%= post.content%></h4>
            <!-- <a class="btn" href=`http://localhost:8080/posts/new` >Delete</a> -->
            <a class="btn" href="http://localhost:8080/posts/<%=post.id%>/edit" >Edit</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button class="btn">Delete</button>
            </form>
        </div>
    <% } %>
    <%}%>

    <a class="btn" href="http://localhost:8080/posts/new">Create new Post</a>
    <a class="btn" href="http://localhost:8080/posts/edit"></a>
</body>

</html>