<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post">
           <% if(locals.data){%>
            <h3>@<%=data.username %></h3>
            <h4><%= data.content%></h4>
            <button class="btn">Delete</button>
            <%} %>
    </div>
     <a style="margin-top: 10px;" class="btn" href="http://localhost:8080/posts/new">Create new Post</a>
</body>
</html>